<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="raulete.com.footballfield">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".s001emptyfield.BasicFieldActivity"></activity>
        <activity android:name=".s002addplayer.AddPlayerActivity"></activity>
        <activity android:name=".s003moveplayer.MovePlayerActivity"></activity>
        <activity android:name=".s004moveonlongclick.MoveOnLongClickActivity"></activity>
        <activity android:name=".s005aftermovedcallback.AfterMovedPlayerCallbackActivity"></activity>
        <activity android:name=".s006exchangeplayer.ExchangePlayerActivity"></activity>
    </application>

</manifest>